<div ng-hide="loggedIn()">
	<h2>Log In</h2>

	<form ng-submit="login()">
		<input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
		<input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
		<input type="submit" value="Log in" class="btn btn-primary" />
	</form>

	<form ng-submit="register()">
		<input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
		<input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
		<input type="submit" value="Register" class="btn btn-primary" />
	</form>
</div>


