 <div>
	<form class="form-signin" ng-submit="login()">
		<h2>Log In</h2>
		<input type="username" ng-model="user.username" placeholder="Username" class="form-control"><br>
		<input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
		<input type="submit" value="Log in" class="btn btn-primary" />
		<p class="text-warning">{{login_error_message}}</p>
	</form>

	<form class="form-signin" ng-submit="register()">
		<h2>Register</h2>
		<input type="username" ng-model="newUser.username" placeholder="Username" class="form-control"><br>
		<input type="password" ng-model="newUser.password" placeholder="Password" class="form-control"><br>
		<input type="submit" value="Register" class="btn btn-primary" />
		<p class="text-warning">{{reg_error_message}}</p>
	</form>
</div>


