<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="clearfix">
				<h4>Say something</h4>
				<form ng-Submit="post()">
					<input required type="text" class="form-control" ng-model="post.created_by" />
					<textarea required class="form-control" maxlength="200" rows="3" ng-model="post.text" />
					<input class="btn submit-btn pull-right" ng-disabled="!post-form.$valid" type="submit" value="Chirp!" />
				</form>
			</div>
			<div id="post-stream">
				<h4>Chirp Feed</h4>
				<div class="post" ng-repeat="post in posts | orderBy:'created_at':true" ng-class-odd="'odd post'" ng-class-even="'even post'"> <!---addl param :true reverses order -->
					<p>{{post.created_by}} says {{post.text}} at {{post.created_at | date:"MM/dd/yyyy 'at' h:mma"}} <a ng-click="delete(post)">delete</a></p>
				</div>
			</div>
		</div>
	</div>
</div>